/* ================================= 
  Base Element Styles
==================================== */
body{
    background-color: white;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}
.main-header{
    background-color: darkslategray;
    color:white;
    text-align: center;
}
.info{
    background-color:lightblue;
}
form {
    max-width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color:lightblue;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid blue;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}
fieldset {
    margin-bottom: 30px;
    border: none;
}
legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 8px;
}
label.light {
    font-weight: 300;
    display: inline;
}
.footer{
    text-align: center;
}

.container{
    margin-bottom:25px;
    padding: 5px;
}
p{
    font-size: 20px;
}
hr{
    border-top: 2px solid black;
}
.signup{
    text-align: center;
}

input[type="text"]:focus{
    border:1px solid darkslategrey;
}
input[type="email"]:focus{
    border:1px solid darkslategrey;
}
input[type="telephone"]:focus{
    border:1px solid darkslategrey;
}
textarea:focus{
    border:1px solid darkslategrey;
}

button:hover{
    background-color:blue;
}
/* ================================= 
  Root Design (Mobile 1st approach)
==================================== */
input[type="text"], input[type="email"], input[type="telephone"], textarea, select {
    text-align: left;
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input#zipcode{
    width:50%;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 768px) {/* Tablet OR PC*/
    form{
        max-width: 768px;
    }
    label{
        display: inline-block;
        width:20%;
    }
    input[type="text"], input[type="email"], input[type="telephone"], textarea, select{
        display: inline-block;
        width:75%;
    }
    input#zipcode{
        width:25%;
    }
    label#selectnews{
        width:100%;
    }
}


